---
import Default from '../../layouts/Default.astro'
import { toStaticPath } from '../../helpers/Routing'
import { db } from '../../common'

export async function getStaticPaths() {
  const subjects = await db.subjects.all()
  return toStaticPath(subjects)
}

const subject = Astro.props
---

<Default title={subject.name} description=`Información de ${subject.name}`>
  <hgroup>
    <h2>{subject.short_name}</h2>
    {subject.url ? <p>{subject.url}</p> : ''}
  </hgroup>
  <p>Group: {subject.group.year}º {subject.group.group}</p>
</Default>
